@page "/mtz/{OrderStatus}-orders/{PageNumber?}"
@using Jas.Globals.Mtz;
@using X.PagedList.Mvc.Core
@using ENUMS = Jas.Globals.Mtz.Enums
@model Jas.Areas.Mtz.Pages.OrderModel
@{
    ViewData["Title"] = Model.State switch
    {
        (int)ENUMS.OrderStates.Received => User.IsInRole("MTZ - admin") ? "Přijaté objednávky " : "Odeslané objednávky",
        (int)ENUMS.OrderStates.InProgress => "Rozpracované objednávky",
        (int)ENUMS.OrderStates.ToSend => "Objednávky k odeslání",
        (int)ENUMS.OrderStates.Processed => "Vyřízené objednávky",
        _ => null
    };
    var notComment = new[] {
                        (int)Jas.Globals.Mtz.Enums.OrderStates.Processed,
                        (int)Jas.Globals.Mtz.Enums.OrderStates.ProcessedCancelled,
                        (int)Jas.Globals.Mtz.Enums.OrderStates.Cancelled
                    };
}

<div class="mtz-hlavni">
    <h1>@ViewData["Title"]</h1>
    @if (Model.Detailed)
    {
        <a asp-route-pagenumber="@Model.PageNumber" asp-route-departmentid="@Model.DepartmentId" class="btn btn-outline-light text-dark btn-neaktivni">Základní</a>
        <a asp-route-detailed="true" asp-route-pagenumber="@Model.PageNumber" asp-route-departmentid="@Model.DepartmentId" class="btn btn-primary btn-aktivni">Rozšířené</a>
    }
    else
    {
        <a asp-page="order" asp-area="mtz" asp-route-pagenumber="@Model.PageNumber" asp-route-departmentid="@Model.DepartmentId" class="btn btn-primary btn-aktivni">Základní</a>
        <a asp-route-detailed="true" asp-route-pagenumber="@Model.PageNumber" asp-route-departmentid="@Model.DepartmentId" class="btn btn-outline-light text-dark btn-neaktivni">Rozšířené</a>
    }

    @if (Model.UserService.IsMtzAdmin || (Model.UserService.IsInRole("MTZ - shipper") && Model.State == 3 ))
    {
        <form method="get" class="mb-3 auto-submit">
            <input type="hidden" name="formsubmitted" value="true" />
            <label for="SelectedDepartmentId">Oddělení:</label>
            <select asp-for="DepartmentId" asp-items="Model.DepartmentSelectList" class="form-control">
                <option value="">-- Všechna oddělení --</option>
            </select>
        </form>
    }
    
    @Html.PagedListPager(Model.Orders, page => Url.Page("", pageHandler: null, values: new { pageNumber = page, Detailed = Model.Detailed, DepartmentId = Model.DepartmentId }),
            new PagedListRenderOptions
    {
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
        UlElementClasses = new[] { "pagination" },
        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
        DisplayLinkToLastPage = PagedListDisplayMode.Always,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        DisplayLinkToIndividualPages = true
    })

    <table class="table" id="cart-table">
        <thead>
            <tr>
                <th>
                    Objednávka
                </th>
                @if (Model.UserService.IsMtzAdmin)
                {
                    <th>
                        Pobočka
                    </th>
                    <th>
                        Jméno
                    </th>
                }
                <th>
                    Počet položek
                </th>
                <th>
                    Stav
                </th>
                <th>
                    Datum vytvoření
                </th>
                <th>
                    Datum odeslání
                </th>
                <th>
                </th>
            </tr>
            <tr>
            </tr>
        </thead>
        <tbody>
            @{
                int[] states = OrderStates.StateGroup.Where(w => w.Value == Model.State).Select(w => w.Key).ToArray();
                foreach (var order in Model.Orders)
                {
                    <tr class="cart-table-row-1 order-prvni-rada">
                        <td>
                            <a asp-area="mtz" asp-page="orderdetail" asp-route-OrderId="@order.Id">
                                @Html.DisplayFor(modelItem => order.Id)
                            </a>
                        </td>
                        @if (Model.UserService.IsMtzAdmin || Model.UserService.IsInRole("MTZ - shipper"))
                        {
                            <td>
                                @order.StoreAndDepartmentName
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => order.UserName)
                            </td>
                        }
                        <td>
                            @order.MtzOrderItems.Count
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => order.State, "OrderState")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => order.OrderDate)
                        </td>
                        <td>
                            @if (Model.UserService.IsMtzAdmin || Model.UserService.IsInRole("MTZ - shipper"))
                            {
                                <form asp-area="Mtz"
                                      asp-page="Order"
                                      asp-page-handler="UpdateOrder"
                                      method="post"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-update="#navbar"
                                      class="auto-submit">
                                    <input type="hidden" asp-for="@order.Id" />
                                    <input type="hidden" name="field" value="SentDate" />
                                    <input asp-for="@order.SentDate" type="date" />
                                </form>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => order.SentDate)
                            }
                        </td>
                        <td>
                            <a href="javascript: window.open('@Url.Page("OrderPrint",  new { area = "Mtz", OrderId = order.Id })').print();">
                                Tisk
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th><label asp-for="@order.Comment" class="form-label">Poznámka:</label></th>
                        <td colspan="@(Model.UserService.IsMtzAdmin ? 7 : 5)">
                            @if (Model.UserService.IsMtzAdmin || !notComment.Contains(order.State))
                            {
                                <form asp-area="Mtz"
                                      asp-page="Order"
                                      asp-page-handler="UpdateOrder"
                                      method="post"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      class="auto-submit">

                                    <input type="hidden" asp-for="@order.Id" />
                                    <input type="hidden" name="field" value="Comment" />

                                    <textarea asp-for="@order.Comment"
                                              class="form-control js-autogrow"
                                              rows="1"
                                              style="overflow:hidden;resize:none;"></textarea>

                                    <span asp-validation-for="@order.Comment" class="text-danger"></span>
                                </form>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => order.Comment)
                            }
                        </td>
                    </tr>
                    @if (Model.Detailed)
                    {
                        <tr class="order-margin-bottom">
                            <td colspan="@(Model.UserService.IsMtzAdmin ? 8 : 6)">
                                <table class="table" id="cart-table">
                                    <thead>
                                        <tr>
                                            <th>
                                            </th>
                                            <th>
                                                Katalogové číslo
                                            </th>
                                            <th>
                                                Počet
                                            </th>
                                            <th>
                                                Jednotka
                                            </th>
                                            <th>
                                                Velikost
                                            </th>
                                            <th>
                                                Jméno zaměstnance
                                            </th>
                                            <th>
                                                Stav položky
                                            </th>
                                            <th>
                                                Poznámka
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var orderItemMtz in order.OrderItems)
                                        {
                                            @Html.EditorFor(item => orderItemMtz, "OrderItemMtz", "", new {ShowStore = false})
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    }
                    <tr class="cart-table-row-3">
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

