@model List<Jas.Models.Ptg.PlateItem>
@using System.Globalization
@{
    var productTypes = Model.GroupBy(g => g.ProductType);
    var voTag = (bool?)ViewData["VoTag"] ?? false;
}

@foreach (var item in Model)
{
    <div class="col-md-6 mb-3">
        <table class="piece-price-tag">
            <thead>
                <tr>
                    <th colspan="2" class="name" style="@item.StyleTagName">@item.TagName</th>
                </tr>
            </thead>
            <tbody class="@(item.Discarded ? "discarded" : "")@((item.PlateQr is null && item.Qr is null) || voTag ? " noqr" : "")">
                <tr>
                    <td colspan="2" class="size" style="@item.CssStyle">@item.SizeType1</td>
                </tr>
                <tr>
                    <td class="price@(item.Discount && !voTag ? " discount" : "")">
                        <span class="price">@(!item.Discarded ? string.Format(new CultureInfo("cs-CZ"), "{0:N0}", item.PriceNn) + ",-" : "VYŘAZENO")</span> <span class="unit">@item.Unit</span>
                    </td>
                    <td class="qr" rowspan="3">
                        <img src="@item.QrBase64" />
                    </td>
                </tr>
                <tr>
                    <td class="reg"><span class="number">Index: @item.RegNumber</span><span class="dph">Uvedená cena je včetně DPH.</span></td>
                </tr>
                <tr>
                    <td class="info">
                        Pro podrobnější informace naskenujte do mobilního telefonu QR kód, kontaktujte prodejce u pultu nebo použijte dotykový panel na prodejně.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}

